body {
    background-color: #FFF8DC;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: #8B0000;
    margin: 20px;
}

.jumpers {
    text-align: center;
}

    .jumpers img {
        width: 100%;
        height: auto;
    }

    .jumpers p {
        margin-bottom: 30px;
    }

    .jumpers figcaption {
        margin-top: 8px;
    }

.navbar {
    min-height: 57px;
}

.bg-jumpers {
    background-color: #cb4000 !important;
}

.wpis {
    text-align: justify;
    font-size: 16px;
    padding: 30px;
    margin-bottom: 40px;
}

.list-group-item-dark {
    background-color: #373a3d;
    color: white;
}

    .list-group-item-dark:hover {
        background-color: #cb4000 !important;
    }

.list-group .active {
    background-color: #cb4000 !important;
    cursor: default;
}

.blockquote {
    line-height: 120%;
}

@media (max-width: 575px) {
    .wpis {
        margin: 40px 20px;
        text-align: left;
        font-size: 15px;
    }

    .float-left, .float-right {
        max-width: 50%;
    }

    .blockquote {
        font-size: 17px;
    }

    .list-group {
        text-align: center;
    }
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border: 1px solid black;
    display: inline-block;
    border-collapse: collapse;
}
